*{
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-right: 156px;
    margin-left: 156px;
    margin-top: 24px;
  }
  .gallery-link {
    display: block;
  }
  .gallery-item{
    list-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }
  .gallery-image {
    width: 360px;
    height: 200px;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  .gallery-image:hover {
    transform: scale(1.045);
  }
  .gallery-item:hover {
    transform: rotate(-2deg) scale(1.05);
  }
  
  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animated-bg {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ffdde1);
    background-size: 300% 300%;
    animation: gradientMove 6s infinite linear;
  }
  
    @media (max-width: 768px) {
      .gallery {
        gap: 10px;
        padding: 10px;
      }
    
      .gallery-image {
        width: 100%;
        height: auto;
      }
    }